/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Neonderthaw&display=swap');
body{
     font-family: 'Poppins'; 
    
}
 /* carousel  */
 .margin-mb{
     margin-bottom:90px;
 }
 .btn-size-carousel{
     width: 168px;
     height: 50px;
 }
 
 .book-now{
     color: #3F87F5;
     text-align: center;
     padding-top: 5px;
     font-size: 16px;
     font-weight: 700;
    
}

/*----------------
    bonus part 
----------------*/
.bonus-margin-mb{
    margin-bottom: 100px;
}

/* our package part  */
/* .cart-body-small{
    font-size: 9px;
   

}
.card-text-size small {
    font-size: 8px;
    
}
.button-font-size-package{
    font-size: 8px;
   
}
.fa-check-circle{
    font-size: 10px;
}
.btn-packge{
    background-color: #F496D1;

}
.btn-sm-size{
    width: 112px;
    height: 25px;
    padding-top:1px;
} */

footer{
    font-family: 'Manrope';

}
.footer-bg{
    background-color: black;
    width: 135px;
    height: 40px;
}
.footer-ms{
    margin-left: 165px;
}
.footer-me{
    margin-right: 165px;
}