/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Neonderthaw&display=swap');
body{
     font-family: 'Poppins'; 
    
}
 /* carousel  */
 .margin-mb{
     margin-bottom:90px;
 }
 .btn-size-carousel{
     width: 168px;
     height: 50px;
 }
 
 .book-now{
     color: #3F87F5;
     text-align: center;
     padding-top: 5px;
     font-size: 16px;
     font-weight: 700;
    
}

/*----------------
    bonus part 
----------------*/
.bonus-margin-mb{
    margin-bottom: 100px;
}

/* our package part  */
.our-margin{
    margin-bottom: 100px;
}
.card-bg-package{
    background-color: rgb(253, 244, 250);

}
.fa-check-circle{
    color: #5243C2;

}

.fa-color{
    color: rgb(253, 244, 250);
}
.card-bg-round{
    height: 395px;
    border-radius: 20px;
    background-color: rgb(63, 135, 245);
    
    

}
.special-cart-magrin-top{
    margin-top: 25px;
    
}
.card-btn{
    width: 248px;
    height: 38px;
    
}
/* Toast part  */

.make-toast{
    margin-left: 70%;
}
.fa-gift{
    color: #007CFF ;
}
footer{
    font-family: 'Manrope';

}
.footer-bg{
    background-color: black;
    width: 135px;
    height: 40px;
}
.footer-ms{
    margin-left: 165px;
}
.footer-me{
    margin-right: 165px;
}